<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="mojEndpoint2" />
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="NetTcpBinding_ICalculator" />
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_ICalculator" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:10007/myService/endpoint1"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICalculator"
        contract="WcfServiceContract.ICalculator" name="WSHttpBinding_ICalculator">
        <identity>
          <userPrincipalName value="DESKTOP-P2695DM\Zuzanna" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:10007/myService/endpoint2"
        binding="basicHttpBinding" bindingConfiguration="mojEndpoint2"
        contract="WcfServiceContract.ICalculator" name="mojEndpoint2" />
      <endpoint address="http://localhost:20007/myService/endpoint3"
        binding="basicHttpBinding" bindingConfiguration="mojEndpoint2"
        contract="WcfServiceContract.ICalculator" name="mojEndpoint3" />
      <endpoint address="net.tcp://localhost:30000/myServiceTCP" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_ICalculator" contract="WcfServiceContract.ICalculator"
        name="NetTcpBinding_ICalculator">
        <identity>
          <userPrincipalName value="DESKTOP-P2695DM\Zuzanna" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>